mixin layout(title, description)
  doctype html
  html
    head
      title= title
      meta(charset='UTF-8')
      meta(name='author' content='Jérémie Boulay')
      meta(name='owner' content='Jérémie Boulay')
      meta(name='location' content='Paris, FRANCE')
      meta(name='keywords' content='')
      meta(name='description' content= description)
      meta(name='copyright' content='© Copyright 2017 - Jérémie Boulay')
      //- Global
      //- meta(property='og:title' content= title)
      //- meta(property='og:description' content= descrition)
      //- meta(property='og:image' content='')
      //- meta(property='og:type' content='website')
      //- Twitter
      //- meta(name='twitter:card' content='summary_large_image')
      //- meta(name='twitter:site' content='@jeremboo')
      //- meta(name='twitter:creator' content='@jeremboo')
      //- Facebook
      //- meta(property='og:url' content='')
      //- meta(property='og:site-name' content='Update Required')
      //- GOOGLE +
      //- meta(itemprop='name' content= title)
      //- meta(itemprop='description' content= description)
      //- meta(itemprop='image' content='')

      meta(name='viewport' content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
      link(rel='icon' type='image/png' href='')
    body
      div#barba-wrapper
        a(href='/index.html')= 'index'
        a(href='/contact.html')= 'contact'
        a(href='/list.html')= 'list'
        if block
          block
